.row
	.col-md-2 
	.col-md-8
		.page-header
			%h4
				Veuillez renseigner les informations suivantes : 
				%br
				Nom :
				%input{ type: "text", name: "pseudo", id: "pseudo", }
				%br
				Prénom :
				%input{ type: "text", name: "pass", id: "pass"}
				%br
				Adresse Mail :
				%input{ type: "email", name: "mail", id: "mail"}
				%br
				Numéro de téléphone:
				%input{ type: "tel", name: "num", id: "num"}
				%br
				Pseudo :
				%input{ type: "text", name: "pseudo", id: "pseudo"}
				%br
				Mot de Passe :
				%input{ type: "password", name: "pass", id: "pass"}
				Avatar (via url/optionnel):
				%input{ type: "url", name: "av", id: "av"}
				%br