.row
	.col-md-2
	.col-md-8
		%h1
			= @annonce.titre
		%p
			= @annonce.description
		%p	
			%img{ src: @annonce.photo, height: "400", width: "400"}
		%p
			Annonce crée par :
			=Utilisateur.where(id: @annonce.utilisateur_id).first.pseudo
		- if @utilisateur.id == @annonce.utilisateur_id
			%p
				%li
					= link_to 'Éditer l\'annonce', edit_annonce_path(@annonce)
		%center
			%li
				= link_to 'Retour', annonces_index_path
